/* * {
  box-sizing: content-box;
} */

#cart-page {
  box-sizing: content-box;
}

#top-o-page {
  top: 74px;
  width: 100vw;
  height: 316px;
  background-image: url(https://media.sweetwater.com/cart/empty-cart-bg-lines.jpg);
  border-top: 48px solid #0072ba;
  border-bottom: 48px solid #0072ba;
}

#guitar-img-cont {
  width: 404px;
  height: 270px;
  box-sizing: content-box;
}

#guitar-img {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  display: block;
}

#cart-empty-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

#empty-cart {
  font-size: 2.3em;
  font-weight: bold;
}

#gear-ideas {
  text-align: center;
  font-size: 17.6px;
}

#margin-empty {
  margin-left: 24px;
}

#spacer {
  height: 426px;
  width: 100%;
  background-color: white;
}
