#flex-header {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(#d6e6ee, #ffffff);
  background-image: "/gif/snow-transparent.gif";
}

#sweet-logo {
  border: none;
  background: transparent;
}

#sweet-logo:hover {
  cursor: pointer;
}

#img-logo {
  width: 100px;
  height: 50px;
  background-color: transparent;
}

#cart-button {
  border: none;
  background: transparent;
}

#cart-button:hover {
  cursor: pointer;
}

h2 {
  margin: 0px;
}
